.footerModalbg {
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 2;
}

.footerModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10%;
  background-color: white;
  width: 70%;
  font-size: 12px;
  padding: 20px;
  border: solid 0.5px gray;
  border-radius: 10px;
  color: #0077c3;
  text-align: justify;
  z-index: 3;
}

.footerModal img {
  height: 40px;
  width: auto;
}

.hideModal {
  display: none;
}

.steps img {
  width: 200px;
  height: 200px;
}

.stepsModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10%;
  background-color: white;
  width: 70%;
  font-size: 12px;
  padding: 20px;
  border: solid 0.5px gray;
  border-radius: 10px;
  color: #ab1862;
  text-align: left;
  z-index: 3;
}
