@font-face {
  font-family: Futura;
  src: url("../assets/fonts/FuturaPTMedium.otf");
}

body {
  font-family: Futura;
  font-size: 15px;
}

.father {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  color: #ab1862;
  padding-top: 10%;
}

.container h1 {
  margin: 0;
}

.container p {
  margin: 10px;
}

.container h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.imageOne {
  width: 60%;
}

.imageTwo {
  width: 40%;
}

.questions {
  color: #212121;
}

.formValues img {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  border: 1px solid #ab1862;
  border-radius: 50%;
  padding: 5px;
}

.footer-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(161, 161, 161, 0.7);
}

.footer-arrows a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ab1862;
  padding: 10px 20px 10px 20px;
}

.footer-arrows a img {
  width: 50%;
}

.footer-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-image img {
  width: 100%;
}
