@font-face {
  font-family: Flama;
  src: url("../assets/fonts/Flama-Basic.otf");
}

body {
  font-family: Flama;
  background-image: url("../assets/images/fondo-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
  color: #0077c3;
}

.container img {
  width: 90%;
}

.subContainter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20%;
}

.subContainter h2 {
  margin-top: 0;
}

.checkers {
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkers div {
  display: flex;
  align-items: center;
}

.subContainter span {
  font-size: 15px;
}

.subContainter p {
  font-weight: lighter;
  margin-bottom: 5px;
}

.enterInput {
  border-radius: 8px;
  border: none;
  color: #0077c3;
  width: 90%;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  background-color: #dbd9d9;
}

.enterButton {
  background-color: #0077c3;
  color: white;
  padding: 15px 25px 15px 25px;
  margin-top: 20px;
  width: 80%;
  font-weight: 200;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
}

.footer {
  margin-top: 30%;
  color: white;
  font-size: 10px;
  text-align: center;
}

@media (max-width: 360px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    color: #0077c3;
  }

  .subContainter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
  }

  .footer {
    margin-top: 10%;
    color: white;
    font-size: 10px;
    text-align: center;
  }
}
