@font-face {
  font-family: Futura;
  src: url("../assets/fonts/FuturaPTMedium.otf");
}

body {
  font-family: Futura;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ab1862;
  font-size: 15px;
  padding-top: 10%;
}

.container h1 {
  margin: 10px 0 10px 0;
}

.stepsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.stepsContainer h5 {
  margin: 10px 0 10px 0;
}

.stepsContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.stepsContainer div img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.stepsContainer div p {
  text-align: left;
}

.footer-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.footer-arrows a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ab1862;
}

.footer-arrows a img {
  width: 50%;
}

.footer-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-image img {
  margin-top: 10px;
  width: 100%;
}

@media (max-width: 360px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ab1862;
    font-size: 12px;
    padding-top: 5%;
  }
}